.projectTitle {
  font-size: 2.5vw;
	font-weight: bold;
	color: #000000;
	margin: 1vw 0;
  margin-top: 0;
}

.projectDescription {
	font-size: 2vw;
	margin: 1vw;
}

.projectText {
  position: relative;
  width: 90%;
  margin: auto;
  
}

.projectList {
	padding: 1vw 1vw;
	width: 95%;
	overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}

.contentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 .15vw .1vw rgba(0, 0, 0, 0.05);
}

.contentAndTitles {
  align-items: center;
  width: 98%;
  margin: auto;
}

.newPost {
  height: 50px;
  width: 80vw;
}

.button {
  background-color: #FF784E;
}