.new-post-card-title {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.posts {
  margin-top: 5em;
}

.projectText {
  text-align: center;
  padding-top: 2em;
}

.left-floating-description {
  position: absolute;
  max-width: 25%;
  top: 9em;
  left: 3em;
}
