@import '~antd/dist/antd.css';

.Profile {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.Profile_Component {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Profile_Photo {
  display: flex;
  flex-direction: column;
}

.Profile_photo_image {
  margin: 1em;
}

.Value_Header {
  height: 1em;
  width: 1vw;
}
.Value_Content {
  width: 30vw;
  overflow: auto;
}

.Profile_Field {
  width: 90vw;
  height: 10vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Edit_Form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Profile_Field:hover + .Edit_Icon {
  display: block;
}

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.create-project-form {
  margin-top: 5em;
}

.ant-layout-header a,
.ant-layout-header a:visited,
.ant-layout-header a:hover {
  color: white;
}

.welcomePage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-layout-content {
  height: calc(100% - 64px);
  min-height: 100vh;
}
