@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Profile {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.Profile_Component {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Profile_Photo {
  display: flex;
  flex-direction: column;
}

.Profile_photo_image {
  margin: 1em;
}

.Display_Value {
}

.Profile_Field {
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Edit_Icon {
}

.Edit_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile_Field:hover + .Edit_Icon {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
